body {
    background-color: lime;
}

#score {
    font-size: 30px;
    margin-left: 10px;
}

#timer {
    font-size: 30px;
    float: right;
    margin-right: 60px;
}

p {
    font-size: 25px;
}

p,
span,
h1 {
    font-weight: bold;
}

#question {
    color: red;
}

h1 {
    background-color: lightyellow;
    height: 50px;
    padding-top: 5px;
    color: blue;
}

#show_sketch {
    float: right;
    margin-right: 20px;
    margin-left: -110px;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 150px;
    box-shadow: 5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 38px grey;
    }
    to {
        box-shadow: 1px 1px 38px white;
    }
}